<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Django Blog</title>
  <link href="/static/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/frontend/css/heroic-features.css" rel="stylesheet">

</head>

<body>


   {% include "frontend/nav.html" %}


  <!-- Page Content -->
  <div class="container">
    

    <header class="jumbotron my-4">
      <h1 class="display-3">{{ post.title }}</h1>
       
    </header>


    <!-- Page Features -->
    <div class="row">

      <div class="col-lg-12 col-md-12  mb-12">
        <div class="card h-100">
          <div class="card-body">
            
            <p class="card-text">{{ post.body }}</p>
          </div>
        </div>
      </div>  
    </div>  
  </div> 
<br></br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
